<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include('../partials/nav') %>

  <form method="post" id="add-form" action="/update/<%=user._id%>" style="width:600px;margin-left:400px;margin-top:34px" enctype="multipart/form-data" class="shadow p-3 mb-5 bg-body rounded">
    <div class="alert alert-primary" role="alert">
      Edit Users<%=user.name%> data Here
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter Name</label>
      <input type="text" name="name" value="<%=user.name%>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email"  value="<%=user.email%>"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone</label>
      <input type="text" name="phone" class="form-control"  value="<%=user.phone%>"  id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div>
        <label for="formFileLg" class="form-label">upload images</label>
        <input class="form-control form-control-lg" id="formFileLg" name="image" type="file">
        <img src="<%=user.image%>" width="100" height="50" class="img-thumbnail">
        <input type="hidden" name="old_image"  value="<%=user.image%>" >
      </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>

  <%- include('../partials/footer') %>
</body>
</html>